<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Application</title>
</head>
<body>
<h1>Application Page</h1>
<form method="post" action="">
    <div>
        <label>Company Name: </label>
        <input type="text" th:field="${app.company}"/>
    </div>
    <div>
        <label>Application Date: </label>
        <input type="date" th:field="${app.appDate}"/>
    </div>
    <div>
        <label>Job Title: </label>
        <input type="text" th:field="${app.jobTitle}"/>
    </div>
    <div>
        <input type="submit" value="Create Application"/>
    </div>
</form>

</body>
</html>